@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
/* Page Styling */

.wrapper {
   display: flex;
   align-items: stretch;
}

.page-wrapper {
   width: 100%;
   background-image: linear-gradient( rgba(255, 152, 152, 0.8), rgba(231, 114, 78, 0.39));
}

#user-name {
   color: rgb(65, 65, 70);
}

.day-banner {
   display: flex;
   align-items: center;
   width: 95%;
   margin: auto;
   padding-left: 15px;
   /*background-color: #7ADFBB;*/
   height: 50px;
   /*border-top: 1px solid rgb(226, 226, 226);*/
   border-bottom: 1px solid #4C8577;
}

.day {
   font-size: 1.25rem;
}

.todo-block {
   /*border: 1px solid black;*/
   display: flex;
   align-items: center;
   width: 100%;
   margin: 10px auto;
}

.todo-block a {
   margin: 0 4px;
}

.todo-block div {
   margin: 0 4px;
}

.select {
   /*border: 2px solid rgb(190, 211, 230);*/
   height: 20px;
   width: 20px;
}

.pin {
   cursor: pointer;
}

.todo-list {
   display: block;
   margin: auto;
   width: 95%;
}

.group {
   display: block;
   font-size: .75rem;
   font-weight: bold;
}

.homework .group {
   color: #A5243D;
}

.todo-item.homework {
   border-left: 2px solid #A5243D;
}

.activities .group {
   color: #B48291;
}

.todo-item.activities {
   border-left: 2px solid #B48291;
}

.projects .group {
   color: #B0C4B1
}

.todo-item.projects {
   border-left: 2px solid #B0C4B1;
}

.todo-item {
   /*border: 1px solid red;*/
   padding: 0 20px 5px 10px;
   transition-property: background-color, box-shadow;
   transition-duration: .8s, .8s;
   -webkit-transition-property: background-color, box-shadow;
   -webkit-transition-duration: .8s, .8s;
   /*
   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
   /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(45, 136, 255, 0.3));*/
}

.todo-item:hover {
   cursor: pointer;
   background-color: rgba(165, 36, 61, .15);
   transform: scale(1.15, 1.15);
   transform-origin: center left;
   -webkit-transform: scale(1.15, 1.15);
   -webkit-transform-origin: center left;
   /*box-shadow: 2px 4px 5px rgba(120, 120, 120, .3);*/
}

/* Navbar Styling */

.navbar {
   justify-content: space-between;
   box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
   padding-top: 2px;
   padding-bottom: 2px;
}

.bg-white-nav {
   background-color: white;
}

.collapsing {
   -webkit-transition: height .35s ease;
}

/**
.navbar {
   min-height: 50px;
   align-items: flex-end;
}

.navbar-brand {
   padding: 0 15px;
   height: 80px;
   line-height: 120px;
}
*/

/*
.navbar-toggle {
   /* (80px - button height 34px) / 2 = 23px */

/*   margin-top: 23px;
   padding: 9px 10px !important;
}*/

/*
@media (min-width: 768px) {
   .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */

/*      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
   }
}
*/

.navbar-darkblue {
   background-color: rgba(45, 136, 255, 0.678);
}

.navbar a {
   font-size: 0.8rem !important;
}

/* Contents */

/*
.body-content{
   background-color: cadetblue;
   height: 100%; width: 100%;
   position: fixed;
}*/

.home-page-button {
   background-color: rgba(65, 239, 245, 0.7);
   /* Light red */
   border: none;
   color: black;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 30px;
   font-family: "Noto Sans KR", sans-serif;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 15px;
   margin-left: 5%;
   margin-right: 5%;
   width: 90%;
   height: 200px;
}

/* Element Styling */

body {
   padding-top: 50px;
   background-color: rgba(249, 245, 247, .5);
   color: rgb(65, 65, 70);
   font-family: 'Be Vietnam', sans-serif;
}

/* Color Pallete */

.bg-light-red {
   background-color: rgba(255, 152, 152, 0.8);
   /* Light red */
}

.bg-light-red-gradient {
   background-image: linear-gradient( to bottom, rgba(255, 152, 152, 0) 50%, rgba(255, 152, 152, 0.2));
}