/* Coolors Exported Palette - coolors.co/f35a60-ffb464-bee6ce-649bd2-bea0ff */

/* HSL */
$color1: hsla(358%, 86%, 65%, 1);
$color2: hsla(31%, 100%, 70%, 1);
$color3: hsla(144%, 44%, 82%, 1);
$color4: hsla(210%, 55%, 61%, 1);
$color5: hsla(259%, 100%, 81%, 1);

/* RGB */
$pin-red: rgba(243, 90, 96, 1);
$pin-orange: rgba(255, 180, 100, 1);
$pin-mint: rgba(190, 230, 206, 1);
$pin-blue: rgba(100, 155, 210, 1);
$pin-periwinkle: rgba(190, 160, 255, 1);